.div{
    width: 80px;
    height: 100px;
    border: 0.7px solid;
    background-color: rgba(0, 0, 0, 0.84);
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
}
@media (max-width: 500px){
    main{
        display: inline-block;
    }
    .div{
        margin-bottom: 5px;
    }
}